<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albert.actual325">

    <application>
        <activity android:name=".Actual325MainActivity"></activity>
        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>