<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albert.androidatlas">
    <!-- 215_2抢红包服务声明 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".material_design_324.MaterialDesign324Activity" />
        <activity android:name=".material_design_323.MaterialDesign323Activity" />
        <activity android:name=".material_design_322.MaterialDesign322Activity" />
        <activity android:name=".material_design_321.MaterialDesign321Activity" />
        <activity android:name=".material_design_321_2.MaterialDesign3212Activity" />
        <activity android:name=".screen_fit_215.Screen215MusicAdapterActivity" />
        <activity android:name=".screen_fit_215_2.Screen2152RedPackageActivity" />
        <activity
            android:name=".ui_core_142.UI142MusicAnimationActivity"
            android:theme="@style/AppTheme.MyActionBar" />
        <activity android:name=".ui_core_141.UI141AnimationActivity" />
        <activity android:name=".ui_core_132.UI132DistributionActivity" />
        <activity android:name=".material_design_314.MaterialDesign314Activity" />
        <activity android:name=".material_design_312_313.MaterialDesign312Activity" />
        <activity
            android:name=".screen_fit_214.DisplayCutoutActivity"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".screen_fit_213.ScreenFit213BaseActivity" />
        <activity android:name=".screen_fit_213.ScreenFit213Activity" />
        <activity android:name=".screen_fit_212.ScreenFit212" />
        <activity android:name=".ui_core_125.UI125CanvasActivity" />
        <activity android:name=".ui_core_124.UI124CanvasActivity" />
        <activity
            android:name=".ui_core_123.UI123CanvasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/menu_UI_123" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 215_2抢红包服务声明 -->
        <service
            android:name=".screen_fit_215_2.MyAccessibilityService"
            android:label="@string/accessibility_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
    </application>

</manifest>