<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.albert.androidatlas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui_core_132.UI132DistributionActivity"></activity>
        <activity android:name=".material_design_314.MaterialDesign314Activity" />
        <activity android:name=".material_design_312_313.MaterialDesign312Activity" />
        <activity android:name=".screen_fit_214.DisplayCutoutActivity" />
        <activity android:name=".screen_fit_213.ScreenFit213BaseActivity" />
        <activity android:name=".screen_fit_213.ScreenFit213Activity" />
        <activity android:name=".screen_fit_212.ScreenFit212" />
        <activity android:name=".ui_core_125.UI125CanvasActivity" />
        <activity android:name=".ui_core_124.UI124CanvasActivity" />
        <activity
            android:name=".ui_core_123.UI123CanvasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/menu_UI_123" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>